*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'SpaceMono';
  font-weight: 400;
  &::before, &::after{
    font-family: 'icons';
  }
}
:root{
  --black: #495567;
  --white: #fff;
  --dark: #333A44;
  --yellow: #FCB72B;
  --grey: #939CAA;
}
$black: var(--black);
$white: var(--white);
$dark: var(--dark);
$yellow: var(--yellow);
$grey: var(--grey);

.container{
  min-height: 40px;
  // border: 1px solid red;
  @include container();
}
h3{
  @include h3();
}
.btn{
  width: 180px;
  height: 53px;
  border: none;
  outline: none;
  text-align: center;
  background: $yellow;
  @include fonts(15px, 25px, $white, 700);
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    transform: scale(1.1);
  }
}